*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    
}


header{
    display: flex;
    width: 70%;
    height: 10vh;
    margin: auto;
    align-items: center;
    padding: 10px 10px 10px 0px;
    
}

.logo-container{
    display: flex;
    
}

.logo-name{
    font-weight: 500;
    margin-top: 15px;
    margin-left: 10px;
    
}

.title{
    text-align: center;
    padding: 10px 0px 10px 0px;
    
}

.cta{
    text-align: center;
    padding: 0px 30px 0px 10px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 1rem;
    font-weight: 400;
    
    
}

.author{
    text-align: center;
    text-decoration: none;
    padding: 10px 0px 20px 0px;
    list-style: none;
    font-size: 1.2rem;
    color: rgb(110, 110, 110);
    
}

.author a{
    color: rgb(110, 110, 110);
}


.get-started{
    text-align: center;
    padding-bottom: 10px;
    font-size: 0.8rem;
}